<mat-card class="record-component">
  <mat-card-content >
    <!--Issue Autocomplete-->
    <form class="total-record" >

      <mat-form-field class="field issue" [ngClass]="{'edit': !editMode}">
        <input type="text" [readonly]="!editMode" placeholder="Issue" matInput [formControl]="issueControl" [matAutocomplete]="issue">
      </mat-form-field>

      <mat-autocomplete #issue="matAutocomplete" (optionSelected)='updateIssue($event.option.value)'>
        <mat-option *ngFor="let issue of filteredIssueOptions| async" [value]="issue">
          {{ issue }}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field class="field comment" [ngClass]="{'edit': !editMode}">
        <input type="text" [readonly]="!editMode" matInput placeholder="Comment" (keyup.enter)="updateComment($event.target.value)"
               (blur)="updateComment($event.target.value)">
      </mat-form-field>

      <mat-form-field class="field project" [ngClass]="{'edit': !editMode}">
        <input type="text" [readonly]="!editMode" placeholder="Project" matInput [formControl]="projectControl" [matAutocomplete]="auto">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='updateProject($event.option.value)'>
        <mat-option *ngFor="let project of filteredProjectOptions| async" [value]="project">
          {{ project }}
        </mat-option>
      </mat-autocomplete>

      <!--empty space-->

      <button mat-icon-button class="field button_play" [disabled]="editMode" (click)="startTracker()">
        <mat-icon class="icon" [ngClass]="{'active': active}">play_arrow</mat-icon>
      </button>
      <!--Buttons: start tracking, dollar, edit/apply
      Actions: edit booked time
      Current tracker-->
      <button mat-icon-button class="field button" [disabled]="!editMode" (click)="markBillable()">
        <mat-icon class="icon" [ngClass]="{'active': billable}">attach_money</mat-icon>
      </button>

      <mat-form-field class="field start-time" [ngClass]="{'edit': !editMode}">
        <input [(ngModel)]="startTime" [readonly]="!editMode" [ngModelOptions]="{standalone: true}" type="time" matInput>
      </mat-form-field> -
      <mat-form-field class="field end-time" [ngClass]="{'edit': !editMode}">
        <input [(ngModel)]="endTime" [readonly]="!editMode" [ngModelOptions]="{standalone: true}" type="time" matInput>
      </mat-form-field>

      <span class=" field tracked-time">
        {{trackedTime | date : 'HH:mm:ss'}}
      </span>

      <button mat-icon-button class="field button" (click)="changeMode()">
        <mat-icon class="icon" [ngClass]="{'active': editMode, 'attention': editButton == 'assignment'}">{{editButton}}</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
