input[type="time"]::-webkit-clear-button, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
  display: none;
}

.field {
  padding-left: 5px;
}

.total-record {
  display: inline;
}

.button_play{
  margin-left: 15%;
}

.issue, .project {
  width: 17%;
  padding-left: 10px;
}

.comment {
  width: 20%;
  padding-left: 10px;
}

.start-time, .end-time, .tracked-time{
  width: 45px;
}

.icon{
  color: #ccc;
}


.icon.active {
  color: limegreen;
}

.icon.attention {
  color: orangered;
}

::ng-deep mat-form-field.edit .mat-form-field-underline {
  display: none;
}

::ng-deep .cdk-overlay-pane {
  width: auto !important;
  max-width: 400px;
}
