<mat-card class="record-component">
  <mat-card-content>
    <form class="total-record">
      <div class="total-div">
        <div>
          <mat-form-field [floatLabel]="'never'" class="field issue" [ngClass]="{ edit: !editMode }">
            <input type="text" appEnforcedInputs [readonly]="!editMode" matInput (click)="$event.target.select()"
                   [formControl]="issueControl" [matAutocomplete]="autoIssue" />
            <mat-placeholder class="placeholder">Issue</mat-placeholder>
          </mat-form-field>

          <mat-autocomplete #autoIssue="matAutocomplete" (optionSelected)="selectIssue($event.option.value)" [displayWith]="displayIssue" >
            <mat-option *ngFor="let issue of (filteredIssues | async)" [value]="issue"> {{issue.tracker}} #{{issue.id}}: {{issue.subject}} </mat-option>
          </mat-autocomplete>

          <mat-form-field [floatLabel]="'never'" class="field comment" [ngClass]="{ edit: !editMode }">
            <input type="text" [readonly]="!editMode" [(ngModel)]="timeLog.comment" [ngModelOptions]="{ standalone: true }"
                   matInput (click)="$event.target.select()" (keyup.enter)="updateComment($event.target.value)"
                   (blur)="updateComment($event.target.value)"
            />
            <mat-placeholder class="placeholder">Comment</mat-placeholder>
          </mat-form-field>

          <mat-form-field [floatLabel]="'never'" class="field project" [ngClass]="{ edit: !editMode }">
            <mat-icon class="icon" [ngClass]="{ transparent: timeLog.booked, warning: !timeLog.booked}" matPrefix>warning</mat-icon>
            <input type="text" appEnforcedInputs [style.color] = "timeLog.project? timeLog.project.color : 'black'" [readonly]="!editMode" matInput (click)="$event.target.select()"
                   [formControl]="projectControl" [matAutocomplete]="autoProject" />
            <mat-placeholder class="placeholder">Project</mat-placeholder>
          </mat-form-field>

          <mat-autocomplete #autoProject="matAutocomplete" (optionSelected)="selectProject($event.option.value)" [displayWith]="displayProject">
            <mat-option *ngFor="let project of (filteredProjects| async)" [style.color]="project.color" [value]="project"> {{project.name}}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div><!-- empty space --></div>

        <div>
          <div class="oneline">
          <button mat-icon-button class="button_play" [disabled]="editMode" (click)="startTracker()"><mat-icon
            class="icon">play_arrow</mat-icon></button>
            </div>

          <div class="oneline">
          <button mat-icon-button class="button" [disabled]="!editMode" (click)="markBillable()"><mat-icon
            class="icon" [ngClass]="{ active: timeLog.billable }">attach_money</mat-icon></button>
          </div>

          <div class="oneline">
            <mat-form-field class="end-time" [ngClass]="{ edit: !editMode }">
              <input [ngModel]="timeLog.timeStopped | date: 'HH:mm'" (ngModelChange)="changeEndTime($event)"
                     [readonly]="!editMode" [ngModelOptions]="{ standalone: true }" type="time" matInput/>
            </mat-form-field>
          </div>

          -

          <div class="oneline">
          <mat-form-field class="end-time" [ngClass]="{ edit: !editMode }">
            <input [ngModel]="timeLog.timeStopped | date: 'HH:mm'" (ngModelChange)="changeEndTime($event)"
                   [readonly]="!editMode" [ngModelOptions]="{ standalone: true }" type="time" matInput/>
          </mat-form-field>
          </div>

          <span class="tracked-time"> {{ trackedTime | date: "HH:mm:ss" }} </span>

          <div class="oneline">
            <mat-spinner
              class = "spinner"
              *ngIf="loading"
              [strokeWidth]="3"
              [diameter]="22"
              color="primary"
              mode="indeterminate">
            </mat-spinner>
          </div>

            <div class="oneline">
          <button *ngIf="!loading" mat-icon-button class="button" (click)="changeMode()">
            <mat-icon  class="icon" [ngClass]="{ active: editMode, attention: editButton == 'assignment' }">{{ editButton }}
            </mat-icon>
          </button>
            </div>

          <div class="oneline">
            <mat-spinner
              class = "spinner"
              *ngIf="loadingDel"
              [strokeWidth]="3"
              [diameter]="22"
              color="primary"
              mode="indeterminate">
            </mat-spinner>
          </div>

              <div class="oneline">
          <button mat-icon-button class="button" *ngIf="!loadingDel" (click)="deleteWarning()">
            <mat-icon class="icon">delete
            </mat-icon>
          </button>
              </div>

        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
