$break-small: 700px;
$break-medium: 992px;
$break-large: 1240px;

input[type="time"]::-webkit-clear-button, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
  display: none;

}

.total-div{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $break-medium) {
    display: inline-block;
  }
}

.oneline {
  display: inline-block;
}

.field {
  margin-left: 15px;
}

.issue {
  width: 27%;
  @media screen and (max-width: $break-medium) {
    width: 40%;
    @media screen and (max-width: $break-small) {
      width: 90%;
    }
  }
}

.project {
  width: 10%;
  margin-right: 10px;
  @media screen and (min-width: $break-small) and (max-width: $break-medium) {
    width: 15%;
  }
  @media screen and (max-width: $break-small) {
    width: 55%;
  }
}

.comment {
  width: 27%;
  @media screen and (max-width: $break-large) {
    width: 20%;
  }
  @media screen and (min-width: $break-small) and (max-width: $break-medium) {
    width: 35%;
  }
  @media screen and (max-width: $break-small) {
    width: 55%;
  }
}

.icon{
  color: #ccc;
}

.icon.active {
  color: limegreen;
}

.icon.transparent {
  position:relative;
  bottom:-5px;
  color: transparent;
  margin-left: 5px;
}

.icon.attention {
  color: orangered;
}

.icon.warning{
  position:relative;
  bottom:-5px;
  color: orangered;
  margin-left: 5px;
}

.start-time {
  position:relative;
  bottom:-2px;
}

.end-time {
  position:relative;
  bottom:-2px;
  margin-left:3px;
}

.spinner{
  position:relative;
  bottom:-5px;
  margin-left: 9px;
  margin-right: 9px;
}

.tracked-time {
  position:relative;
  bottom:-1px;
  margin-left:8px;
}

mat-form-field.edit .mat-form-field-underline {
  display: none;
}

.mat-form-field-infix {
  width: 100%;
}

.cdk-overlay-pane {
  width: auto !important;
  max-width: 400px;
}
