input[type="time"]::-webkit-clear-button, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
  display: none;

}

.total-div{
  display: flex;
  justify-content: space-between;
}

.oneline {
  display: inline-block;
}

.field {
  margin-left: 10px;
}

.icon{
  color: #ccc;
}


.icon.active {
  color: limegreen;
}

.icon.transparent {
  position:relative;
  bottom:-5px;
  color: transparent;
  margin-right: 5px;
}

.icon.attention {
  color: orangered;
}

.icon.warning{
  position:relative;
  bottom:-5px;
  color: orangered;
  margin-right: 5px;
}

.start-time {
  position:relative;
  bottom:-2px;
}

.end-time {
  position:relative;
  bottom:-2px;
  margin-left:3px;
}

.spinner{
  position:relative;
  bottom:-5px;
  margin-left: 9px;
  margin-right: 9px;
}

.tracked-time {
  position:relative;
  bottom:-1px;
  margin-left:8px;
}

mat-form-field.edit .mat-form-field-underline {
  display: none;
}

.mat-form-field-infix {
  width: 100%;
}

.cdk-overlay-pane {
  width: auto !important;
  max-width: 400px;
}
