.detailChartTable {
  width: 100%;
}
.detailChartTable td.mainchart {
  width: 80%;
}

.detailChartTable td.subchart {
  width: 20%;
}

#canvas {
  width: 100%;
}
.chart {
  width: 100%;
}

.canvas2 {
}

.checkbox {
  margin-left: 20px;
}

.periodselection {
  margin-right: 20px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.95em;
}

.no_project {
  font-size: 20px;
  text-align: center;
}

