<mat-card>
  <form>
      <div class="field-container">
        <mat-form-field class="field field-large">
          <input type="text" appEnforcedInputs [formControl]="issueCtrl" name="issue" placeholder="Issue" matInput [matAutocomplete]="autoIssue">
          <mat-autocomplete (optionSelected)="selectIssue($event.option.value)" [displayWith]="_displayIssue"  autoActiveFirstOption #autoIssue="matAutocomplete">
            <mat-option *ngFor="let issue of filteredIssues | async" [value]="issue">
              {{issue.tracker}} #{{issue.id}}: {{issue.subject}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="field field-small">
          <input type="text" (change)="updateTracker()" [(ngModel)]="timeTracker.comment" [formControl]="logCtrl" name="comment" placeholder="Comment" matInput [matAutocomplete]="autoLog">
          <mat-autocomplete (optionSelected)="selectLog($event.option.value)" [displayWith]="_displayLog" #autoLog="matAutocomplete">
            <mat-option *ngFor="let log of filteredLogs | async" [value]="log.id + '$$' + log.comment">
              <span>{{shorten(log.comment, 25)}}</span>
              <small *ngIf="log.issue"> | #{{log.issue.id}}: {{shorten(log.issue.subject, 10)}}</small>
              <small *ngIf="log.project" [style.color]="log.project.color"> | {{log.project.name}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="field field-small">
            <input type="text" appEnforcedInputs [formControl]="projectCtrl" name="project" [style.color]="_getProjectColor()" placeholder="Project" matInput [matAutocomplete]="autoProject">
              <mat-autocomplete (optionSelected)="selectProject($event.option.value)" [displayWith]="_displayProject" autoActiveFirstOption #autoProject="matAutocomplete">
                <mat-option *ngFor="let project of filteredProjects | async" [style.color]="project.color" [value]="project">
                  {{project.name}}
                </mat-option>
              </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="field-container">
        <span class="field">{{ currentTrackerTimeString }}</span>
        <mat-checkbox name="billable" (change)="updateTracker()" [(ngModel)]="timeTracker.billable" class="field">Billable</mat-checkbox>
        <div class="field">
          <button *ngIf="this.timeTracker.id === undefined" (click)="startTimeTracker()" class="field" mat-flat-button color="primary" [disabled]="startingBlockedByLoading">Start</button>
          <button *ngIf="this.timeTracker.id !== undefined" [disabled]="stoppingBlockedByNegativeTime || stoppingBlockedByLoading" (click)="stopTimeTracker()" class="field" mat-flat-button color="warn">Stop</button>
        </div>
        <div class="field">
          <button mat-stroked-button *ngIf="automaticMode" [disabled]="automaticLock" color="accent">Manual Mode</button>
          <button mat-stroked-button *ngIf="!automaticMode" [disabled]="automaticLock" color="accent">Automatic Mode</button>
        </div>
      </div>
  </form>
</mat-card>
