mat-form-field {
  width: 20%;
}
.field-left {
  padding-right: 10px;
}
.field-right {
  padding-left: 10px;
}
.field-mid {
  padding-left: 10px;
  padding-right: 10px;
}
.field-large {
  width: 40%;
}
