.center {
  text-align: center;
  align-items: center;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

mat-dialog-conent {
  text-align: center;
}

mat-divider {
  margin: -2px 0 10px 0;
}

