/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

// custom style for the error-dialog has to be set in the global scss
.custom-dialog-container2 .mat-dialog-container {
  border: 1px solid #d62c36;
}

.icon {
  color: #ccc;
}

.icon.active {
  color: limegreen;
}

.icon.attention {
  color: orangered;
}

.icon.warning {
  position: relative;
  bottom: -5px;
  color: orangered;
  margin-left: 5px;
}
