<mat-action-list>
  <h3 mat-subheader>Recently added TimeLogs</h3>
<cdk-virtual-scroll-viewport itemSize="50" class="timeLogList">
    <button mat-list-item (click)="clickedItem()" *cdkVirtualFor="let TimeLog of timeLogList; templateCacheSize: 0"class="timeLogItem">
        <h4 mat-line>{{"TimeLog-ID:" + TimeLog.id}}</h4>
        <p mat-line> {{"Started at:" + TimeLog.timeStarted}}</p>
        <p mat-line> {{"Stopped at:" + TimeLog.timeStopped}}</p>
    </button>
  </cdk-virtual-scroll-viewport>  
</mat-action-list>
